Repository samclarke/SCEditor, pull requests merged in 2021-06, with the labels that each got.

#821 Add ability to match all attrs in a given tag
  src/formats/bbcode.js
  tests/unit/formats/bbcode.parser.js
  tests/unit/formats/bbcode/matching.js
  tests/unit/formats/bbcode/nesting.js
  tests/unit/index.js
Labels: Enhancement

#820 Improve fixNesting()
  src/lib/RangeHelper.js
  src/lib/SCEditor.js
  src/lib/dom.js
  tests/unit/lib/RangeHelper.js
  tests/unit/lib/dom.js
Labels: fix, lib

#822 initialize plugins before the formatters
  src/lib/SCEditor.js
Labels: fix, lib, plugins

#835 Prevent collapsed white space text nodes being wrapped
  src/lib/SCEditor.js
  tests/unit/lib/SCEditor.js
Labels: fix, lib
