Repository samclarke/SCEditor, pull requests merged in 2023-02, with the labels that each got.

#916 Fix code tags including styles from block elements
  src/formats/bbcode.js
  tests/unit/formats/bbcode.js
Labels: fix

#922 Fix merge() merging <br> tags
  src/lib/dom.js
  tests/unit/lib/dom.js
Labels: lib, fix

#925 fix: #901 allows inserting custom tags and attributes
  src/lib/SCEditor.js
  src/lib/defaultOptions.js
Labels: lib
